<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>

<!--<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="many" (focus)="focus()" (ngModelChange)="filter(many)">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of dataSource" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<button mat-button>Click me!{{ many }}</button>
<button mat-button>This is my button</button>
<mat-checkbox>Check me!</mat-checkbox>-->

<div class="panel panel-default " >
    <div class="panel-heading ">
        <label>Add new Item</label>
    </div>

    <!--<div class="panel-body">
      
        <mat-tab-group>
            <mat-tab label="Tab 1">

                <mat-grid-list >
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi">
                <input matInput placeholder="Favorite food" value="Sushi">
                <input matInput placeholder="Favorite food" value="Sushi">
                <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
                <br />


                <div fxLayout="row" fxLayout.sm="row">
                    <mat-form-field >
                        <input matInput placeholder="Code" value="Sushi">
                    </mat-form-field>
                </div>
                <div class="col-md-12">



                    <mat-form-field class="flex">
                        <input matInput placeholder="Code NL" value="Sushi">
                    </mat-form-field>

                </div>
                <div class="col-md-12">
                    <mat-form-field class="flex">
                        <input matInput placeholder="Name" value="Sushi">

                    </mat-form-field>
                    <mat-form-field class="col-sm-6 example-half-width">
                        <input matInput placeholder="Name NL" value="Sushi">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="col-sm-6 example-half-width">
                        <mat-select placeholder="Series" [(ngModel)]="selectedValue" name="food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div>
                    <mat-form-field>
                        <input type="text" placeholder="Purchase unit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="many" (focus)="focus()" (ngModelChange)="filter(many)">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of dataSource" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="layout-gt-md">
                        <input type="text" placeholder="Sales unit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="many" (focus)="focus()" (ngModelChange)="filter(many)">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of dataSource" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Inventory unit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="many" (focus)="focus()" (ngModelChange)="filter(many)">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of dataSource" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>


            </mat-tab>
            <mat-tab label="Tab 2">Content 2</mat-tab>
        </mat-tab-group>
    </div>-->
    <div class="panel-body">
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code NL" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" value="Sushi">
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name NL" value="Sushi">
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code NL" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" value="Sushi">
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name NL" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code NL" value="Sushi">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" value="Sushi">
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <!--<input class="form-control" />-->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name NL" value="Sushi">
            </mat-form-field>
        </div>

    </div>
</div>





